@import './../../assets/styles/variables.scss';

.ContentSlider {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: calc( 70% - 1em);
  margin-left: 1em;
  box-shadow: 1px 1px 2px #787878;
  background-color: white;

  @media screen and ( max-width: $screen-lg ) {
    width: calc( 60% - 1em );
  }

  @media screen and ( max-width: $screen-sm ) {
    width: 100%;
    margin-left: 0;
    min-height: calc( 100vh - 2em ); /* temporary to force overflow */
    margin-top: 1em;
    border-radius: 5px;
  }
}

.ContentSlider__photo-slider {
  position: relative;
  width: 100%;
  height: 55%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and ( max-width: $screen-sm ) {
    height: 55vh;
  }

  &::before, .photo-slider__banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
  }

  &::before {
    content: '';
    display: block;
    background-color: #fff;
    opacity: 0.3;
  }

  .photo-slider__banner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    z-index: 1;
  }

  .photo-slider__arrow {
    position: absolute;
    top: 50%;
    transform: translateY( -50% );
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    border: 0;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 1);
    }

    &.left {
      left: 4px;
    }

    &.right {
      right: 4px;
    }
    
    img {
      width: 16px;
      height: 16px;      
    }
  }
}

.ContentSlider__project-slider {
  display: block;
  width: 100%;
  height: 150px;
  background-color: #eee;
  padding-left: 10px;
  overflow: hidden;
  overflow-x: auto;

  .project-slider__project-tile {
    position: relative;
    width: 130px;
    height: 130px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    margin-top: 10px;

    span {
      position: relative;
      opacity: 0;
      font-weight: bold;
      color: white;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #282828;
      opacity: 0.7;
      z-index: 0;
    }

    &.active {
      opacity: 1;

      &::before {
        opacity: 0;
      }
    }

    &:not( :first-of-type ) {
      margin-left: 10px;
    }

    &:hover {
      opacity: 1;

      span {
        opacity: 1;
      }

      &::before {
        opacity: 0.3;
      }
    }
  }
}

.ContentSlider__project-details {
  width: 100%;
  height: calc( 45% - 150px );
  padding: 1em;

  @media screen and ( max-width: $screen-sm ) {
    height: calc( 45vh - 150px );
  }

  .project-details__title-date {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    * {
      margin: 0;
    }

    h2 {
      flex: 1 0 auto;
    }

    span {
      flex: 0 0 auto;

      h3 {
        font-size: 1em;
      }

      h4 {
        font-size: 0.8em;
      }
    }
  }

  .project-details__project-info {
    white-space: pre-line;

    @media screen and ( min-width: 992px ) and ( max-width: 1280px ) {
      overflow-y: auto;
      height: 175px;
    }
  }
}