.ContentSlider {
  width: calc( 70% - 1em);
  margin-left: 1em;
  box-shadow: 1px 1px 2px #787878;

  @media screen and ( max-width: 1280px ) {
    width: calc( 60% - 1em );
  }

  @media screen and ( max-width: 768px ) {
    width: 100%;
    margin-left: 0;
    min-height: 500px; /* temporary to force overflow */
  }
}