@import './assets/styles/variables.scss';

.App {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 1280px;
  min-height: calc( 100vh - 4em );

  @media screen and ( max-width: $screen-lg ) {
    min-width: calc( 100vw - 4em );
  }

  @media screen and ( max-width: $screen-sm ) {
    position: relative;
    display: block;
    padding: 1em;
  }
}