.ProfileCard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: calc( 30% - 1em );
  margin-right: 1em;
  box-shadow: 1px 1px 2px #787878;
  padding: 2em;

  h3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    color: #282828;

    &::after {
      content: '';
      flex: 1 0 auto;
      height: 1px;
      background-color: #808080;
      margin-left: 1em;
    }
  }
}

.ProfileCard__profile-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 1em;
}

.ProfileCard__person-name, .ProfileCard__person-title {
  width: 100%;
}

.ProfileCard__person-title {
  margin-top: 0;
}

.ProfileCard__skill-list {
  width: 100%;
  margin: 0;

  li {
    padding-left: 1em;
    
    span {
      font-weight: 500;
    }

    ul {
      font-size: 0.85em;
      margin-top: 0.5em;

      li {
        margin: 0.5em 0;
      }
    }
  }
}

.ProfileCard__contact-list {
  width: 100%;
  
  span {
    display: block;
    width: 100%;
    text-align: left;
  }
}